<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      >
    <mat-toolbar>Apps</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="">Alpha</a>
      <a mat-list-item href="download">Downloader</a>
      <a mat-list-item href="note">Notes</a>
      <a mat-list-item href="car">Cars</a>
      <a mat-list-item href="blank">Blank</a>
      <a mat-list-item href="money">Money</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MidnightSun</span>
      
      <span class="example-spacer"></span>
      <button mat-icon-button [routerLink]="['/']" aria-label="Alpha"><mat-icon>home</mat-icon></button>
      <button mat-icon-button [routerLink]="['/note']" aria-label="Notes"><mat-icon>note</mat-icon></button> 
      <button mat-icon-button [routerLink]="['/download']" aria-label="Downloader"><mat-icon>downloading</mat-icon></button>
      <button mat-icon-button [routerLink]="['/car']" aria-label="Car"><mat-icon>directions_car</mat-icon></button>
      <button mat-icon-button [routerLink]="['/blank']" aria-label="Blank"><mat-icon>pages</mat-icon></button>
      <button mat-icon-button [routerLink]="['/money']" aria-label="Money"><mat-icon>money</mat-icon></button>
      <button mat-icon-button [routerLink]="['/momolo']" aria-label="MOMO"><mat-icon>pregnant_woman</mat-icon></button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
