<div class="grid-container">
    <h1 class="mat-h1">Downloader</h1>
    <mat-card class="contentcard">
        <mat-card-title>Here you can download anything</mat-card-title>
        <form id="ytdl-form" class="example-form">
        <mat-form-field >
            <input class="centered example-full-width" matInput id="url">
        </mat-form-field>
        <div class="control">

          </div>
        </form>
<!-- <button mat-raised-button color="accent" onclick="qyudl">download it</button> -->
    </mat-card>
</div>
            <button
            mat-raised-button color="accent" class="button is-large is-fullwidth is-primary is-outlined" onclick="downloadClick()">
              Download it
            </button>