<mat-grid-list cols="3" rowHeight="2:3">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
  </mat-grid-list>







<!-- <p>blankpage works!</p>
<div class="parent">
    <header class="header">Header</header>
    <div class="right-side-box">group1  </div>  
          <div class="main-box">group2</div>
                 <div class="left-side-box">group3</div>


    <footer class="footer">Footer</footer> -->
<!-- 
    <div class="parent">
        <header class="pink section">Header</header>
        <div class="left-side blue section" contenteditable>Left Sidebar</div>
        <main class="section coral" contenteditable> Main Content</main>
        <div class="right-side yellow section" contenteditable>Right Sidebar</div>
        <footer class="green section">Footer</footer>
      </div> -->