<div class="row" style="display: grid; place-items: center;">
    <div class="col centerImg">
        <p style="width: 1350px; height: 768px;"></p>
    </div>
    <div style="position: inherit; display: grid; place-items: center;height: -768px;">
        <h1>Ram is the best waifu </h1>
        <P>PASTA</P>

    </div>

    <!-- <img src="../../assets/images/ramvision.jpg" alt=""> -->



</div>
<div class="parent universitIes">
    <div class="row1">
    <div class="col">
        <h1>stuff and things</h1>
    </div>
    <div class="col">
        <h1>dexin is okay</h1>
    </div>
    <div class="col">
        <h1>momo is gey</h1>
    </div>
</div>
<div class="centerSpace">
<!-- <h1>middle!</h1> -->
</div>
<div class="row2">
    <div class="col">
        <h1>Ram is </h1>
    </div>
    <div class="col">
        <h1>Rem is trash</h1>
    </div>
    <div class="col">
        <h1>degen is life</h1>
    </div>
</div>
</div>
<div class="learnMore parent">
<div class="row1">
    <h1>top</h1>
    <p>bottom</p>
</div>
<div class="centerSpace">

</div>
<div class="row2">
<button mat-raised-button color="primary">boom</button>
</div>
</div>
