<div class="grid-container">
  <h1 class="mat-h1">Component List</h1>
  <mat-card class="contentcard">
    <mat-card-title>Here are the list of Components</mat-card-title>
    <mat-card-content>
      <!-- <div class="parent">
        <header class="header">Header</header>
        <div class="right-side-box">group1  </div>  
              <div class="main-box">group2</div>
                     <div class="left-side-box">group3</div>


        <footer class="footer">Footer</footer>
      </div>
 -->
 <canvas id="assCanvas"  style="height: 450px; width: 450px;"></canvas>

<mat-grid-list cols="3" rowHeight="2:3">
  <mat-grid-tile>1
    
    <button onClick="myConfetti()"> confetti1</button>
    <button onClick="confettiR()"> confetti random</button>

  </mat-grid-tile>
  <mat-grid-tile>2emfnjsnfknesjk
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
</mat-grid-list>



    </mat-card-content>

  </mat-card>
  <!-- <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->
</div>