.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.contentcard{
  background: rgb(249,255,0);
background: linear-gradient(247deg, rgba(249,255,0,0.9920343137254902) 38%, rgba(240,34,34,0.9640231092436975) 91%);
}
.mat-h1{
  color: #f9ff00;
}
.mat-card-title{
  color: #ac1a1a;
  text-align: center;
}
.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.main-box {
  grid-column: 1 / 3;
}
.right-side-box {
  grid-column: 3 / 4;
}
.left-side-box {
  grid-column: 1 / 2;
}

 .header {
  padding: 2rem;
  grid-column: 1 / 4;
}
.footer {
  grid-column: 1 / 4;
}
canvas {
  width: 100%;
  height: 100%;
}