<div class="grid-container">
  <h1 class="mat-h1">Notes</h1>
  <mat-card class="contentcard">
    <mat-card-title>Add Notes Here</mat-card-title>
    <mat-card-content>
<!-- 
      <div class="title-info">
        <p>Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. 
          Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, 
          als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese 
          durcheinander warf um ein Musterbuch zu erstellen. Es hat nicht nur 5 
          Jahrhunderte überlebt, sondern auch in Spruch in die elektronische 
          Schriftbearbeitung geschafft (bemerke, nahezu unverändert). Bekannt wurde 
          es 1960, mit dem erscheinen von "Letraset", welches Passagen von Lorem Ipsum 
          enhielt, so wie Desktop Software wie "Aldus PageMaker" - ebenfalls mit Lorem Ipsum.</p>
      </div> -->
      <mat-form-field class="note-form-field">
        <mat-label>Add Notes</mat-label>
        <textarea matInput type="text" [(ngModel)]="value"></textarea>
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      
    </mat-card-content>

  </mat-card>
</div>