



.grid-container {
    margin: 20px;
    // padding: 20px;
    // background: darkslategrey;
    // background-image: url("../../assets/images/canyons.jpg");
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  mat-card-content p{
    // background-color: aquamarine;
    place-items: center;
  }
  .mat-card-title{
    text-align: center;
    // background-color: rebeccapurple;
    // place-items: center;
  }

  .mat-card{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.9920343137254902) 1%, rgba(213,213,213,0.9640231092436975) 77%);
  }
  .note-form-field{
    width: 100%;
  }
  .title-info{
    text-align: left;
    
  }

// .matInput{
//   width: 100%;
// }
  .mat-h1{
    color: #d5d5d5;
  }